@mixin restrict-max-width($width) {
  box-sizing: border-box;
  margin: auto;
  max-width: $width;
  width: 100%;
}

@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 40em) {
      @content;
    } //640px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 64em) {
      @content;
    } //1024px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 80em) {
      @content;
    } //1280
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 96em) {
      @content;
    } //1536
  }
}
